@media only screen and (max-width: 600px) {
  p {
    font-size: 5vw;
  }
  h1 {
    font-size: 6vw;
    margin-bottom: 5px;
  }
}
.abouthtml {
  background: url(images/bg-4.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.menuhtml {
  background: url(images/bg-4.jpg) no-repeat center fixed;
  background-size: cover;
  width: 100%;
}
.offershtml {
  background: url(images/bg-4.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.careershtml {
  background: url(images/bg-4.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.contacthtml {
  background: url(images/bg-4.jpg) no-repeat center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.indexhtml {
  background: url(images/bg-4.jpg) no-repeat center fixed;
  background-size: cover;
  width: 100%;
}
.logoContainer {
  width: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}
nav {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
}
.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
}
.navList > li > a,
.icon {
  color: white;
  text-decoration: none;
}
.navList li a:hover,
.icon:hover {
  color: darkorange;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}
.mobileList {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
}
.mobileList > li > a,
.mobileList > li {
  color: white;
  text-decoration: none;
  margin: auto;
  padding: 10px;
}
.hide {
  display: none;
}
@media (max-width: 600px) {
  .navList li a {
    display: none;
  }
}
@media (min-width: 600px) {
  .icon {
    display: none;
  }
  .mobileList {
    display: none;
  }
}
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  width: 100%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.size {
  box-sizing: border-box;
  max-width: 95%;
  margin: 5px;
}
.cv {
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 100px;
  color: black;
  margin-bottom: 0;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
.email {
  color: green;
}
.story {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.offer {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  margin-bottom: 0;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  border-radius: 10px;
  margin: 15px;
}
h6 {
  margin: 0;
  color: rgb(77, 77, 77);
}

.menu {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}
.menuCat {
  color: green;
}
.pItem {
  margin: 5px;
  padding: 0;
  font-style: italic;
  font-size: small;
}
.item {
  margin: 0;
  padding: 0;
}
.menuItems {
  margin: 20px;
}

.map {
  margin: 10px auto;
  width: 90%;
  height: 50%;
}
footer {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footerLogoContainer {
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerLogo {
  max-height: 100%;
}

.alogo {
  height: 100%;
}
